<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CSColegio.DesktopApplication.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CSColegio.DesktopApplication.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!--<add name="EventLog" />-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="CS-Colegio" />-->
    </sharedListeners>
  </system.diagnostics>
  <applicationSettings>
    <CSColegio.DesktopApplication.My.MySettings>
      <setting name="EnableVisualStyles" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MinimumSplashScreenDisplaySeconds" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="ShowLastUserLoggedIn" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GridsAndListsFont" serializeAs="String">
        <value>Microsoft Sans Serif, 11.25pt</value>
      </setting>
      <setting name="SingleInstanceApplication" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseCustomDialogForErrorMessage" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LoteComprobantes_PreseleccionarTodos" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PermiteGenerarMatriculaMesDesde" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="AFIP_WS_Certificado_Homologacion" serializeAs="String">
        <value>C:\Users\Tomas\Dropbox\Colegio Horizonte\CS-Colegio\Certificados\administracion_homologacion.crt</value>
      </setting>
      <setting name="AFIP_WS_ClavePrivada" serializeAs="String">
        <value>C:\Users\Tomas\Dropbox\Colegio Horizonte\CS-Colegio\Certificados\cardonersistemas.key</value>
      </setting>
      <setting name="IDPuntoVenta" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="AFIP_WS_TTLTicketRequerimientoAcceso" serializeAs="String">
        <value>2400</value>
      </setting>
      <setting name="AFIP_WS_LogFolder" serializeAs="String">
        <value>%ApplicationFolder%\Log\AFIP</value>
      </setting>
      <setting name="AFIP_WS_LogFileName" serializeAs="String">
        <value>%DateTimeUniversalNoSlashes%.log</value>
      </setting>
      <setting name="AFIP_WS_ModoHomologacion" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ReportsPath" serializeAs="String">
        <value>C:\Users\Tomas\Dropbox\Cardoner Sistemas\CS-Colegio\Reportes</value>
      </setting>
      <setting name="DecimalesEnImportes" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="DBConnection_Datasource" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="DBConnection_Database" serializeAs="String">
        <value>CSColegio_Produccion</value>
      </setting>
      <setting name="DBConnection_UserID" serializeAs="String">
        <value>sa</value>
      </setting>
      <setting name="DBConnection_Password" serializeAs="String">
        <value>43ubKjbAQCxR+foIcEK/PcLRw0VHFqfd</value>
      </setting>
      <setting name="DBConnection_Provider" serializeAs="String">
        <value>System.Data.SqlClient</value>
      </setting>
      <setting name="LoteComprobantes_EnviarEmail_Metodo" serializeAs="String">
        <value>NETCLIENT</value>
      </setting>
      <setting name="Email_DisplayName" serializeAs="String">
        <value>Colegio Horizonte de Lobos - Administracion</value>
      </setting>
      <setting name="Email_Address" serializeAs="String">
        <value>tomascardoner@me.com</value>
      </setting>
      <setting name="Email_SMTP_Server" serializeAs="String">
        <value>mail.horizontedelobos.com.ar</value>
      </setting>
      <setting name="Email_SMTP_Username" serializeAs="String">
        <value>administracion@horizontedelobos.com.ar</value>
      </setting>
      <setting name="Email_SMTP_Password" serializeAs="String">
        <value>yW4DfKMkoW1G6xeH/A+Jj9jGeAXMiW9Xk4NW/87/C7kP9+IdAyHtUw==</value>
      </setting>
      <setting name="Email_SMTP_Port" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="Email_SMTP_UseSSL" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Email_SMTP_Timeout" serializeAs="String">
        <value>90000</value>
      </setting>
      <setting name="Comprobante_EnviarEmail_Subject" serializeAs="String">
        <value>{0} N° {1}</value>
      </setting>
      <setting name="Comprobante_EnvioEmail_Body" serializeAs="String">
        <value>Adjuntamos el Comprobante solicitado.{0}{0}Atentamente.</value>
      </setting>
      <setting name="Email_Signature" serializeAs="String">
        <value>{0}{0}Colegio Horizonte de Lobos{0}Administración{0}Castelli 193 - Lobos{0}Tel.: +54 2227 42-4656{0}administracion@horizontedelobos.com.ar{0}www.horizontedelobos.com.ar</value>
      </setting>
      <setting name="AFIP_WS_Certificado_Produccion" serializeAs="String">
        <value>C:\Users\Tomas\Dropbox\Colegio Horizonte\CS-Colegio\Certificados\administracion_produccion.crt</value>
      </setting>
      <setting name="Comprobante_EnviarEmail_Metodo" serializeAs="String">
        <value>NETCLIENT</value>
      </setting>
      <setting name="AFIP_WS_LogEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Email_MaxPerHour" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="Exchange_Outbound_Folder" serializeAs="String">
        <value>%ApplicationFolder%\Intercambio\Salida</value>
      </setting>
      <setting name="Exchange_Outbound_Santander_ADDI_Folder" serializeAs="String">
        <value>%ProgramFilesX86%\ADDISQL\Importar</value>
      </setting>
      <setting name="Exchange_Outbound_PagoMisCuentas_SubFolder" serializeAs="String">
        <value>PagoMisCuentas</value>
      </setting>
      <setting name="Exchange_Outbound_Santander_Piryp_Folder" serializeAs="String">
        <value>%ProgramFilesX86%\Piryp\Importar</value>
      </setting>
      <setting name="Exchange_Inbound_Santander_ADDI_Folder" serializeAs="String">
        <value>%ProgramFilesX86%\ADDISQL\Exportar</value>
      </setting>
      <setting name="Comprobante_RequiereDomicilioCompleto" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Email_Delivery_Failed_SenderAddress" serializeAs="String">
        <value>Mailer-Daemon@orlando.dattaweb.com</value>
      </setting>
      <setting name="Email_Delivery_Failed_Subject" serializeAs="String">
        <value>RV: Mail delivery failed: returning message to sender</value>
      </setting>
      <setting name="Email_Delivery_Failed_ErrorText" serializeAs="String">
        <value>550 Requested action not taken: mailbox unavailable</value>
      </setting>
      <setting name="Email_Delivery_Failed_RejectedAddress_PreviousText"
        serializeAs="String">
        <value>The following address(es) failed:</value>
      </setting>
    </CSColegio.DesktopApplication.My.MySettings>
  </applicationSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <userSettings>
    <CSColegio.DesktopApplication.My.MySettings>
      <setting name="LastUserLoggedIn" serializeAs="String">
        <value />
      </setting>
    </CSColegio.DesktopApplication.My.MySettings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>