<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CSColegio.DesktopApplication.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CSColegio.DesktopApplication.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="CS-Colegio"/>-->
    </sharedListeners>
  </system.diagnostics>
  <applicationSettings>
    <CSColegio.DesktopApplication.My.MySettings>
      <setting name="EnableVisualStyles" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MinimumSplashScreenDisplaySeconds" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="UserPasswordMinimumLenght" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="UserPasswordSecureRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MDIFormMargin" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="ShowLastUserLoggedIn" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GridsFont" serializeAs="String">
        <value>Microsoft Sans Serif, 11.25pt</value>
      </setting>
      <setting name="SingleInstanceApplication" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseCustomDialogForErrorMessage" serializeAs="String">
        <value>True</value>
      </setting>
    </CSColegio.DesktopApplication.My.MySettings>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
	<add name="CSColegioContext" connectionString="metadata=res://*/CSColegio.csdl|res://*/CSColegio.ssdl|res://*/CSColegio.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PHENOMII-X4;initial catalog=CSColegio;user id=sa;password=Tai1802Pei;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <userSettings>
    <CSColegio.DesktopApplication.My.MySettings>
      <setting name="LastUserLoggedIn" serializeAs="String">
        <value />
      </setting>
    </CSColegio.DesktopApplication.My.MySettings>
  </userSettings>
</configuration>