<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle.Cryptography" version="2.6.2" targetFramework="net48" />
  <package id="EntityFramework" version="6.5.1" targetFramework="net48" />
  <package id="Google.Apis" version="1.70.0" targetFramework="net48" />
  <package id="Google.Apis.Auth" version="1.70.0" targetFramework="net48" />
  <package id="Google.Apis.Core" version="1.70.0" targetFramework="net48" />
  <package id="HtmlAgilityPack" version="1.12.2" targetFramework="net48" />
  <package id="MailKit" version="4.13.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.8" targetFramework="net48" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1001" targetFramework="net48" />
  <package id="MimeKit" version="4.13.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="QRCoder" version="1.6.0" targetFramework="net48" />
  <package id="Syncfusion.Licensing" version="30.2.7" targetFramework="net48" />
  <package id="Syncfusion.Shared.Base" version="30.2.7" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.CodeDom" version="9.0.8" targetFramework="net48" />
  <package id="System.Formats.Asn1" version="9.0.8" targetFramework="net48" />
  <package id="System.IO.Pipelines" version="9.0.8" targetFramework="net48" />
  <package id="System.Management" version="9.0.8" targetFramework="net48" />
  <package id="System.Memory" version="4.6.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="9.0.8" targetFramework="net48" />
  <package id="System.Text.Json" version="9.0.8" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.6.1" targetFramework="net48" />
</packages>