<AfipWebServicesConfig>
  <CertificadoHomologacion>C:\Users\Tomas\Dropbox\Colegio Horizonte\CS-Colegio\Certificados\administracion_homologacion.crt</CertificadoHomologacion>
  <CertificadoProduccion>C:\Users\Tomas\Dropbox\Colegio Horizonte\CS-Colegio\Certificados\administracion_produccion.crt</CertificadoProduccion>
  <ModoHomologacion>true</ModoHomologacion>
  <ClavePrivada>C:\Users\Tomas\Dropbox\Colegio Horizonte\CS-Colegio\Certificados\cardonersistemas.key</ClavePrivada>
  <TtlTicketRequerimientoAcceso>2400</TtlTicketRequerimientoAcceso>
  <LogFolder>%ApplicationFolder%\Log\AFIP</LogFolder>
  <LogFileName>%DateTimeUniversalNoSlashes%.log</LogFileName>
  <LogEnabled>true</LogEnabled>
</AfipWebServicesConfig>