<AppearanceConfig>
  <EnableVisualStyles>true</EnableVisualStyles>
  <MinimumSplashScreenDisplaySeconds>5</MinimumSplashScreenDisplaySeconds>
  <ShowLastLoggedInUser>true</ShowLastLoggedInUser>
  <UseCustomDialogForErrorMessage>true</UseCustomDialogForErrorMessage>
  <ListsFont>Microsoft Sans Serif; 11,25pt</ListsFont>
</AppearanceConfig>