<EmailConfig>
  <DisplayName>Colegio Horizonte de Lobos - Administración</DisplayName>
  <Address>administracion@horizontedelobos.com.ar</Address>
  <ReplyToAddress>administracion@horizontedelobos.com.ar</ReplyToAddress>
  <Signature>{0}{0}Colegio Horizonte de Lobos{0}Administración{0}Castelli 193 - Lobos{0}Tel.: +54 2227 42-4656{0}administracion@horizontedelobos.com.ar{0}www.horizontedelobos.com.ar</Signature>
  <SmtpServer>mail.horizontedelobos.com.ar</SmtpServer>
  <SmtpUserName>administracion@horizontedelobos.com.ar</SmtpUserName>
  <SmtpPassword>yW4DfKMkoW1G6xeH/A+Jj9jGeAXMiW9Xk4NW/87/C7kP9+IdAyHtUw==</SmtpPassword>
  <SmtpPort>465</SmtpPort>
  <SmtpUseSsl>true</SmtpUseSsl>
  <SmtpTimeout>30000</SmtpTimeout>
  <SendMethod>NETCLIENT</SendMethod>
  <SendMaxPerHour>200</SendMaxPerHour>
  <DeliveryFailedSubject>RV: Mail delivery failed: returning message to sender</DeliveryFailedSubject>
  <DeliveryFailedErrorText>550 Requested action not taken: mailbox unavailable</DeliveryFailedErrorText>
  <DeliveryFailedRejectedAddressPreviousText>The following address(es) failed:</DeliveryFailedRejectedAddressPreviousText>
  <DeliveryFailedSenderAddress>Mailer-Daemon@orlando.dattaweb.com</DeliveryFailedSenderAddress>
</EmailConfig>