<GeneralConfig>
  <SingleInstanceApplication>true</SingleInstanceApplication>
  <DecimalesEnImportes>2</DecimalesEnImportes>
  <ReportsPath>C:\Users\Tomas\Dropbox\Cardoner Sistemas\CS-Colegio\Reportes</ReportsPath>
  <IdPuntoVenta>2</IdPuntoVenta>
  <PermiteGenerarMatriculaDesdeMes>10</PermiteGenerarMatriculaDesdeMes>
  <ExchangeOutboundFolder>%ApplicationFolder%\Intercambio\Salida</ExchangeOutboundFolder>
  <ExchangeOutboundPagoMisCuentasSubFolder>PagoMisCuentas</ExchangeOutboundPagoMisCuentasSubFolder>
</GeneralConfig>