<OutlookContactsSyncConfig>
  <EntidadTipoPersonalColegio>true</EntidadTipoPersonalColegio>
  <EntidadTipoDocente>true</EntidadTipoDocente>
  <EntidadTipoAlumno>true</EntidadTipoAlumno>
  <EntidadTipoFamiliar>true</EntidadTipoFamiliar>
  <EntidadTipoProveedor>true</EntidadTipoProveedor>
  <EntidadTipoOtro>true</EntidadTipoOtro>
  <GrupoNoEncontradoBorrar>true</GrupoNoEncontradoBorrar>
  <ContactoNoEncontradoBorrar>true</ContactoNoEncontradoBorrar>
  <GruposEntidadTipo>true</GruposEntidadTipo>
  <GruposNivelYCurso>true</GruposNivelYCurso>
  <GrupoNombre>Grupo: {0}</GrupoNombre>
</OutlookContactsSyncConfig>