<SantanderAddiConfig>
  <Datasource>localhost</Datasource>
  <Database>ADDISQL</Database>
  <UserId>sa</UserId>
  <Password>43ubKjbAQCxR+foIcEK/PcLRw0VHFqfd</Password>
  <Provider>System.Data.SqlClient</Provider>
  <OutboundFolder>%ProgramFilesX86%\ADDISQL\Importar</OutboundFolder>
  <InboundFolder>%ProgramFilesX86%\ADDISQL\Exportar</InboundFolder>
</SantanderAddiConfig>