<SantanderConfig>
  <Datasource>localhost</Datasource>
  <UserId>sa</UserId>
  <Password>43ubKjbAQCxR+foIcEK/PcLRw0VHFqfd</Password>
  <Provider>System.Data.SqlClient</Provider>
  <AddiDatabase>ADDISQL</AddiDatabase>
  <AddiOutboundFolder>%ProgramFilesX86%\ADDISQL\Importar</AddiOutboundFolder>
  <AddiInboundFolder>%ProgramFilesX86%\ADDISQL\Exportar</AddiInboundFolder>
  <PirypOutboundFolder>C:\TEMP</PirypOutboundFolder>
</SantanderConfig>